@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

section {
    padding: 50px inherit;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1080px;
    margin: auto;
}



/* <!-- ===================================================
header start
====================== --> */

header {}

nav {
    padding: 25px;
}

nav .logo {}

nav .logo p {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    font-feature-settings: 'liga'off;
    color: #3A3A3A;
    transition: .4s;
}

nav .logo:hover p {
    color: #E02C6D;
}

#banner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    align-items: center;
    padding: 0 25px;
}

.bannerLeft {}

.bannerLeft h1 {
    font-size: 45px;
    line-height: 125%;
}

.bannerLeft p {
    margin: 25px 0;
}

.bannerLeft button {
    background: #E02C6D;
    border: 0;
    outline: 0;
    color: #fff;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 25px;
}

.bannerLeft button>i {
    margin-left: 25px;
    transition: .4s;
    background: #E02C6D;
    color: #fff;
    padding: .2em .25em;
    border-radius: 50%;
}

#banner:hover .bannerLeft button>i {
    transform: rotate(360deg);
}

.bannerLeft button:hover i {
    background: #fff;
    color: #E02C6D;
}

.bannerRight {
    background: no-repeat center center url(./resources/images/Circle\ design.svg);
    background-size: contain;
    text-align: center;
}

.bannerRight img {}

/* <!-- ===========================================================
header end
====================== --> */

/* <!-- ===========================================================
main start
====================== --> */


/* <!-- ==================================gallery section start========================== --> */

#collection {
    padding: 50px;
}

.container>h2 {
    margin-bottom: 50px;
    text-align: center;
}

#collection .container>p {
    text-align: right;
    margin-top: 50px;
}

.container>p a {
    color: #E02C6D;
}

.container>p a i {
    margin-left: 25px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.gallery .blog {
    padding: 25px;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    transition: .4s;
}

.gallery .blog:hover {
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.3);
}

.gallery .blog img {}

.gallery .blog h2 {
    margin: .25em 0;
    font-weight: 500;
}

.gallery .blog p {
    color: #666;
    margin: .5em 0;
}

.gallery .blog p strong {}

.gallery .blog .ratings {}

.gallery .blog .ratings i {
    color: orange;
}


/* <!-- ==================================gallery section end========================== --> */
/* <!-- ==================================optiohal feature start========================== --> */

#feature {
    padding: 50px;
}

#feature .container {}

#feature>.container>h2 {
    margin-bottom: inherit;
}

#feature .container h6 {
    font-weight: normal;
    text-align: center;
}

#feature .container hr {
    width: 7%;
    margin: 5px auto;
    margin-bottom: 50px;
    border: 1px solid #E02C6D;
}

.divForm {
    width: 50%;
    margin: auto;
    padding: 25px;
    background: #E02C6D;
}

.divForm form {}

.divForm form label {
    color: #fff;
    display: block;
}

.divForm form input,
select {
    margin: 8px 0 15px 0;
    border: 0;
    outline: 0;
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
}

.divForm form select {}

.divForm form select option {}

.divForm form button {
    color: #E02C6D;
    margin: auto;
    margin-top: 23px;
    padding: 10px 25px;
    font-size: 16px;
    border-radius: 25px;
    border: 0;
    outline: 0;
    display: block;
}

.divForm form button>i {
    margin-left: 25px;
    transition: .4s;
    /* background: #E02C6D;
    color: #fff; */
    padding: .2em .25em;
    border-radius: 50%;
}

.divForm form button:hover i {
    background: #E02C6D;
    color: #fff;
    transform: rotate(360deg);
}

/* <!-- ==================================optiohal feature end========================== --> */

/* <!-- ====================
main end
====================== --> */



/* ==================================================================
responsive part start
============================ */

@media (min-width: 1080px) {
    nav {
        padding-left: 0;
        padding-right: 0;
    }

    #banner {
        padding-left: 0;
        padding-right: 0;
    }

}

/* ================tablet view======================= */

@media (max-width: 768px) {
    #banner {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
        padding: 50px 25px;
    }

    .bannerLeft {
        order: 2;
        text-align: center;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery .blog:last-child {
        display: none;
    }

    .divForm {
        width: 75%;
    }
}

/* ==================mobile view =====================*/

@media (max-width: 425px) {
    .logo {
        text-align: center;
    }

    .bannerLeft h1 {
        font-size: 35px;
    }

    .gallery {
        display: block;
    }

    .gallery .blog {
        margin-bottom: 25px;
    }

    .divForm {
        width: 100%;
    }

    .divForm form input,
    select {
        margin: 0px 0 4px 0;
        padding: 5px;
    }

    .divForm form label {
        font-size: 14px;
    }

    .divForm form button {
        padding: 5px 25px;
        font-size: 14px;
    }

    #feature .container hr {
        width: 15%;
    }

    #feature>.container>h2 {
        font-size: 22px;
    }
}

/* ============================
responsive part end
===================================================================== */